html {
  touch-action: manipulation;
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  height: -webkit-fill-available;
 }


a,p, h2, h1,li {
  color: #424242;
  margin:0;
  padding:0;
  letter-spacing: 0.01rem;
 }
#root{background: #fff;
}

a,p,th,tr {font-size: 1.5rem; }
h2 {font-size: 1.8rem;}
h1 {font-size: 4.8rem;}

li {font-size: 1.5rem;list-style: none;}


