.btn{
    width: 100%;
    // background: #639FFF;
    display: flex;
    align-items: center;
    &__color{
        color:#fff;
        padding-left:1rem;
    }
    &__top{
        margin-top:2rem;
    }
    &_inner{
        padding:0.6rem 0rem 0.6rem 0rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover{
            background:#93918F70;
        }
    }
}

.popup{
    z-index:10;
    border-radius: 8px;
    padding: 2rem;
    left: 20rem;
    top: 0;
    position: absolute;
    width: 21rem;
    height: auto;
    background: #fff;
    box-shadow: 0 2px 5px #777;
    &_inner {
    padding: 0.6rem 0rem;
    display: flex;
    align-items: center;
    }
    &_iconPadding{
        margin-right: 1rem;;
    }
}

